.login-form{
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: auto;
    padding: 20px;
    border: 1px solid black;
}



.login-form input{
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}


.login-form button{
    padding: 10px;
    color: white;
    border: none !important;
    background-color: #333;
    cursor: pointer;
}